@value makerGreen from '../../common/colors.css';
@value makerWhite from '../../common/colors.css';
@value makerBlack from '../../common/colors.css';
@value makerLightPink from '../../common/colors.css';

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30em;
  background-color: makerWhite;
  text-align: center;
}

.title {
  font-size: 2em;
}

.list {
  padding: 0.5em;
  list-style: none;
}

.item {
  margin-bottom: 0.5em;
}

.button {
  width: 100%;
  height: 2.5em;
  font-size: 1.2rem;
  border: 0.2rem solid makerGreen;
  border-radius: 1.2rem;
}

.button:hover {
  background-color: makerLightPink;
}
