@value makerWhite from '../../common/colors.css';

.maker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: makerWhite;
  text-align: center;
}

.contents {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.content {
  width: 100%;
}
