@value makerBlack from '/src/common/colors.css';
@value makerWhite from '/src/common/colors.css';
@value makerLightGrey from '/src/common/colors.css';
@value makerPink from '/src/common/colors.css';
@value makerGreen from '/src/common/colors.css';

.form {
  display: flex;
  flex-wrap: wrap;
}

.input,
.button {
  flex: 1;
  line-height: 1.5em;
  border: 1px solid #000;
  border-radius: 0;
  margin-top: -1px;
  margin-left: -1px;
  padding: 0.3em 0.5em;
  outline: 0;
}

.textarea {
  font-size: 0.8rem;
  flex-basis: 100%;
}

.button {
  padding: 0;
}

.loading {
  position: relative;
  flex: 1;
  width: 100%;
  height: 100%;
  background-color: makerLightGrey;
}

.loading:after {
  position: relative;
  display: block;
  content: '';
  top: 0.3em;
  width: 0.8em;
  height: 0.8em;
  border: solid makerGreen;
  border-top: 0.15em;
  border-left: 0.15em;
  border-radius: 50%;
  /* border-bottom: 0; */
  margin: 0 auto;
  opacity: 0.3;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(720deg);
  }
}
