@value makerGreen from '/src/common/colors.css';
@value makerWhite from '/src/common/colors.css';
@value makerBlack from '/src/common/colors.css';

.header {
  position: relative;
  width: 100%;
  background-color: makerGreen;
  text-align: center;
  padding: 0.5em;
}

.logo {
  width: 3em;
}

.title {
  color: makerWhite;
  margin: 0;
}

.logout {
  position: absolute;
  right: 3em;
  top: 1em;
  padding: 0.8em;
  border-radius: 20%;
  background-color: makerBlack;
  color: makerWhite;
  outline: 0;
  border: 0;
  cursor: pointer;
}
