@value makerGreen from '../../common/colors.css';
@value makerWhite from '../../common/colors.css';
@value makerBlack from '../../common/colors.css';

.footer {
  width: 100%;
  background-color: makerGreen;
}

.title {
  color: makerWhite;
}
