@value makerGreen from '/src/common/colors.css';
@value makerWhite from '/src/common/colors.css';

.footer {
  width: 100%;
  background-color: makerGreen;
  color: makerWhite;
}

.title {
  text-align: center;
}
