@value makerLightGrey from '/src/common/colors.css';

.editor {
  flex-basis: 50%;
  overflow-y: auto;
  border-right: 1px solid makerLightGrey;
}

.list {
  padding: 0 1em;
}

.item {
  list-style: none;
  margin-bottom: 1em;
}
